@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
*/

/* .App {
  font-family: "",;
}  */
@font-face {
  font-family: "PokemonGB";
  src: local("PokemonGB-RAeo"),
    url("../fonts/PokemonGb-RAeo.ttf") format("truetype");
}

body {
  margin: 0;
  font-size: 15px;
  font-family: PokemonGB,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainChallenge {
  background-image: -webkit-linear-gradient(30deg, #0B3199 50%, #BC0000 50%);
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* .card-info>div img {
  display: inline-block;
  margin-left: 6rem;
} */

/* #drop-battleparty>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

/* #drop-battleparty>div>div {
  display: grid;
  grid-column: span 1;
  font-size: 0;
  width: 6rem;
  background-color: transparent; */
/* height: 10px;
  width: 40px; */
/* } */

/* #drop-battleparty>.card-info {
  font-size: 0;
  width: 100%;
} */

/* #drop-battleparty>div>div>div {
  grid-column: span 1;
  height: 10px;
  width: 100px;
  display: inline-block;

} */

.brandTitle {
  text-shadow: white 0 0 2px;
}