@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
*/

/* .App {
  font-family: "",;
}  */
@font-face {
  font-family: "PokemonGB";
  src: local("PokemonGB-RAeo"),
    url("../fonts/PokemonGb-RAeo.ttf") format("truetype");
}

body {
  margin: 0;
  font-size: 15px;
  font-family: PokemonGB,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainChallenge {
  background-image: -webkit-linear-gradient(30deg, #0B3199 50%, #BC0000 50%);
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.brandTitle {
  text-shadow: white 0 0 2px;
}

.textSize {
  font-size: .8vw;

}

.scrollbarHide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow: hidden;
}